<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CY_AlertController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A654ADF91D12CD31000A72E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A654AE121D12CD31000A72E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A654AE1D1D12CD31000A72E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
